.slick-prev::before,
.slick-next::before {
    font-family: 'Glyphicons Halfings' !important;
    color      : red !important;
}

.slick-prev::before {
    // content: "\e257" !important;
}


.slick-prev {
    left      : -10px !important;
    z-index   : 1000 !important;
    height    : 48px !important;
    width     : 44px !important;
    background: #fff !important;
    border    : 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaec !important
    }
}


.slick-next {
    right     : -10px !important;
    z-index   : 1000 !important;
    height    : 48px !important;
    width     : 44px !important;
    background: #fff !important;
    border    : 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaec !important
    }
}